<div class="container">
  <div class="col-sm-11 col-xs-12 blog-content">
      <h2 class="post-title">About Erika Boren</h2></br>
      <p>I'm a Ruby on Rails developer that recently graduated from Devbootcamp (Aug '17'). I'm passionate about learning to code and started this blog to share my learnings with others in my shoes.</p>
      <p>Prior to becoming a developer, I worked in IT for 10 years in various infrastructure roles. The repetive tasks continually drove me crazy and I realized I needed to learn to automate things. I quit my job to travel the world for a year and taught myself basic programming. I quickly fell in love with coding and enrolled in a bootcamp when I returned home.</p>
      <p>When I'm not coding, I enjoy mountain biking, hiking big mountains, and traveling.</p></br>

      <img class="center-block" src="https://farm5.staticflickr.com/4383/37110143965_424a6baaaa_k.jpg" height="300" alt="about-photo"></br></br>
    </div>
</div>