/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body{
  background-color:#F0F0F0;
}

.posts-home{
  background-color:white;
}

.tag-list li{
  list-style: none;
  padding:2px;

}

.tag-list li a{
  color:#338CFF;
}

.tag-list ul{
  height:100%;
  width:auto;
  margin:0 auto;
  display:block;
  padding:5px;
  font-family: 'lato';
  font-weight:bold;
}

.tag-list a:hover{
  /*color:#42dff4;*/
}

.tag-link a{
  color:#338CFF;
}

.profile-link{
  margin:0;
  padding:0;
  float:right;
}


.post-title-link a{
  color:#338CFF;
}

.post-title{
  color:#338CFF;
}

/*.post-title-link a:hover{
  color:#338CFF;
}*/

.post-title-link h6{
  font-weight: bold;
}

.post-container{
  /*border:1px groove gray;*/
  border-style:groove;
  padding:10px;
  margin:10px;
}
#navbar-title{
  font-family: 'Cabin Sketch';
  font-size: 20px;
  /*color:#15B097;*/
  color:white;
}

#navbar-title:hover{
  color:#338CFF;
}

#navbar-links a{
  font-family: 'lato';
}

#navbar-links a:hover{
 color:#338CFF;
}