 <footer>
  <div class="text-center center-block">
  <hr />
    <div class="row">
      <div class="col-md-12">
        <div class="footer">
          <h5 class="footer-header">Build Beautiful and Meaningful Things</h5>

           <a href="https://github.com/erikasboren"><i class="fa fa-github-square fa-2x social"></i></a>
           <a href="https://instagram.com/ebyeti"><i class="fa fa-instagram fa-2x social social-instagram"></i></a>
           <a href="https://www.linkedin.com/in/erika-boren"><i class="fa fa-linkedin-square fa-2x social"></i></a>
           </br></br>
        </div>
      </div>
    </div>
  </div>
</footer>